.bg::before {
    content: ' ';
    position: absolute;
    background-image: url(/assets/craig-garner-YoadQb46v6k-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.1;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    /* outline: 10px solid red; */
}
