.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1fb;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
    
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    padding-left: 20px;
  }
     
  .sidebar .active {
    background-color: cadetblue;
    color: white;
  }

  .sidebar a:hover:not(.active) {
    background-color: rgb(211, 211, 211);
    color: white;
  }
.overview-link{
  padding-left: 10px;
}
.overview-title{
  padding-left: 5px;
}
  div.content {
    margin-left: 200px;
    margin-top: 10px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  .add-new-btn {
    margin-left: 10px;
    margin-bottom: 5px;
    background-color: cadetblue;
    color: white;
    border-radius: 2rem;
    border: none;
  }
  
  .media{
    border: 1px solid rgb(192, 192, 192);
    border-radius: 10px;
    width: 80%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
    margin-bottom: 10px;
  }
  
  .media img {
    width: 30px;
    height: 30px;
    border-radius: 3rem;
    margin-right: 5px;
  }
  
  .box-delete-button, .box-view-button {
    float: right;
    border: none;
    border-radius: 5px;
    color: white;
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .box-delete-button {
    background: red;
    transition: 0.4s;
    border: 1px solid red;
  }
  .box-delete-button:hover{
    color: red;
    background: white;
  }
  .box-view-button{
    background: grey;
    border: 1px solid grey;
    transition: 0.4s;
  }
  .box-view-button:hover{
    color: grey;
    background-color: white;
  }
  .create-button{
    float: right;
    border: 2px solid rgb(55, 92, 94);
    border-radius: 10px;
    background: white;
    color: rgb(55, 92, 94);
    font-weight: bold;
    margin-top: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: 0.4s;
  }
  .create-button:hover{
    background: rgb(55, 92, 94);
    color: white;
  }
  /* MEDIA BACKGROUND COLOUR */
  #red{
    background: #FF8888;
  }
  #yellow{
    background: #FFFA93;
  }
  #green{
    background: #A9EEAA;
  }
  #blue{
    background-color: #A9D2F3;
  }
  #purple{
    background: #D2B7EF;
  }
  #none{
    background: default;
    color: default;
  }

  /* 5363A5 */
  @media screen and (max-width: 700px) {
      .sidebar {
        width: 100%;
        height: auto;
        position: fixed;
        bottom: 0;
        background-color: #e2e2e2fb;
      }
      .sidebar a {
        display: inline-flex;
        width: 20%;
        justify-content: center;
        padding-left: 16px;
      }
      div.content {
        margin-left: auto;
      }
      .media {
        width: 100%;
      }
      .overview-link{
        display: none;
      }
      .create-button {
        display: none;
      }
  }