.first-instruction, .second-instruction, .third-instruction, .fourth-instruction{
   padding-top: 50px;
   padding-bottom: 50px;
   padding-left: 130px;
   padding-right: 130px;
   align-items: center; /* vertical center */
}
.first-instruction{
    background: rgba(233, 233, 233, 0.514);
    flex-direction: row-reverse;
}
.second-instruction{
    background: white;
}
.third-instruction{
    background: rgba(233, 233, 233, 0.514);
    flex-direction: row-reverse;
}
.fourth-instruction{
    background: white;
}

.instruction-image{
    width: 500px;
    height: auto;
}

@media screen and (max-width: 768px) {
    .first-instruction, .second-instruction, .third-instruction, .fourth-instruction{
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 20px;
        padding-right: 20px;
    }
}