.navbar {
    background-color: white;
}

.navbar-brand {
    font-family: 'Quando', serif;
    color: cadetblue;
    font-weight: bold;
}

.navbar-brand:hover, .nav-link:hover {
    color: rgb(69, 117, 119);
}

.nav-link {
    color: black;
}